body {
    background-color: rgb(238, 195, 52);
    margin: 0;
    padding: 0;
}

.breakScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px; 
}

.noselect {
    user-select: none;
  }